@charset "utf-8";
/**body{margin:0;padding:0;font-size:14px;font-family:Tahoma,SimSun; height:100%}*/
body{margin:0px;padding:0px;background-color:#E7EAEB;font-family:"微软雅黑","黑体","宋体";font-size:12px;height:36px;}
div {display: block;margin:0 auto}
p{margin:0 auto;padding:0;}
a{cursor:pointer;}
input[type="text"]{height:28px;}
input[type="button"]{height:25px;border:1px solid #969696;margin-left:1px;cursor:pointer;}

.container{width:1080px;}
.page_head{width:1080px;height: 30px}
.page_left{width:358px;float:left;border:1px solid #969696;min-height: 630px;}
.left_title{font-size:15pt;font-weight: bold;padding-left: 8px;}

.page_envi{width:700px;float:left;border:1px solid #000;height: 28px;padding:0 2px 0 2px;}
.envi_tips {margin: 4px 0 0 3px ;width: 45px;float:left;}
.envi_edit{display: none;width:630px;}
.links{margin: 4px 0 0 3px ;width:300px;float:right;}

.page_center{width:700px;float:left;border:1px solid #000;min-height: 600px;padding:0 2px 0 2px;}

.project_edit,.project_name,.project_list{width:350px;float:left;margin:2px 0 2px 2px;}
.project_delete_link{width:30px;float:right;}
.project_add_link{width:70px;float:right;font-size: 12pt;margin-top:5px;}
.project_list .project_name:nth-child(3n+0){background: #93C2F5}
.project_list .project_name:nth-child(3n+1){background: #CFD39D}
.project_list .project_name:nth-child(3n+2){background: #F7CF9E}
.project_name p{height:25px; margin:8px 0 0 3px; border-bottom: 1px solid #969696;}
.project_name a{margin-top:8px;}
.project_name_edit,.project_name_add{margin-left:3px; width:265px;}
.project_update_bt,.project_cancle_update_bt,.project_cancle_add_bt,.project_add_bt{width:38px;}
.project_edit,.function_edit,.project_add,.function_add{display:none;}

.function_name {width:325px;margin: 2px 0 2px 25px;cursor: move;}
.function_name p{height:18px; margin:6px 0 0 2px; border-bottom: 1px solid #969696;}
.function_name a{margin-top:1px;}
.function_delete{width:32px;float:right;}
.function_name_edit,.function_name_add {width:245px;}
.function_update_bt,.function_cancle_update_bt,.function_add_bt,.function_cancle_add_bt{width:38px;}
.function_edit,.function_add{margin-left: 20px;}
.function_edit input[type="text"],.function_add input[type="text"]{height:17px;margin:1px 0 1px 0;}
.function_edit input[type="text"],.function_add input[type="text"]{height:20px;margin:1px 0 1px 0;}
.function_add_link{width:33px;float:right;}

.tdc_list{width:700px;display:inline-block;}
.tdc_list .tdc_item:nth-child(3n+2){background: #93C2F5}
.tdc_list .tdc_item:nth-child(3n+0){background: #D0D3B3}
.tdc_list .tdc_item:nth-child(3n+1){background: #F7CF9E}
.tdc_add{width:700px;height:30px; border-bottom: 1px solid #000;}
.tdc_add p{height:23px;float:left;margin-top: 5px;}
.tdc_add input{float:right;margin-top: 3px;height:25px;}
.tdc_item{width:690px;padding:3px 5px 3px 5px;}
.tdc_title{width:690px;height: 20px;}
.tdc_title p{width:450px;float: left;}
.tdc_title_add_bt{border:1px solid #000;}
.tdc_title_anly_bt{border:1px solid #000;}
.tdc_data,.tdc_action{display: none;margin-top:3px;}
.tdc_name_value_type_title span{margin: 0 85px 0 30px;}
.tdc_name_value_type input{height:18px;  margin:1px 1px 1px 0;}
.tdc_name_value_type .type{width:60px}
/***/.tdc_info_area {max-width:680px;}

.select{position:absolute;margin-top:3px; display: inline-block;width: 300px;border:1px solid #969696;}
.select_choice{padding-right:210px;}
.select_edit{float: right;width:20px;}

.option,.option_edit{position: relative;width: 298px;border-top:1px solid #000;z-index: 100;display: none;background-color: #fff;}
.option_edit input{width:115px;}
.option_edit label{font-size: 5pt;}

#transfer_form select{width:250px;}
